.about{

    background: var(--color-fir);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 80%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
.about h1 {
    font-size: 3rem ;
}

.about .textAbout h1,h2,p{
    margin: 30px 60px;
}