.BoxIconLanguage{
    width: 7rem;
    height: 7rem;
    background-color: var(--color-fir);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border-radius: 6%;

    color: var(--color-sec);

    transition: transform 0.3s ease-in-out;
    font-size: 1rem;


}

.BoxIconLanguage i{
    font-size: 4rem;
    animation: ease-in-out aparecer2 0.8s forwards;
}
.BoxIconLanguage:hover{
    transform: scale(1.10);
}
@keyframes aparecer2 {
    0% {
        opacity: 0;
        transform: translatey(20px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1.1);
    }
}