.BoxIconLanguage{
    width: 7rem;
    height: 7rem;
    background-color: var(--color-fir);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border-radius: 6%;

    color: var(--color-sec);

    transition: transform 0.3s ease-in-out;
    font-size: 1rem;


}

.BoxIconLanguage i{
    font-size: 4rem;
}
.BoxIconLanguage:hover{
    transform: scale(1.10);
}