:root {
  --color-fir: #0e0d0d;
  --color-sec: #dc3f3f;
  --color-thir: #f6f6f6;

  --bg-color-fir: #151212;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: 'Arial', sans-serif;

}
body{
  background: #151212;
}
h1,h2{
  color: white;
}


.about p{
  color: white;
}