:root {
  --color-fir: #0e0d0d;
  --color-sec: #dc3f3f;
  --color-thir: #f6f6f6;

  --bg-color-fir: #151212;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;

  font-family: 'Arial', sans-serif;
  font-size: 1.05rem;

}
body{
  background: #151212;
}
h1,h2{
  color: white;
}


.about p{
  color: white;
}


.box-Projetos h1{
  margin: auto;
  text-align: center;
  padding: 30px;
  padding-top: 100px;
}

.boxlinks h6{
  color: white;
}
.boxlinks i{
  font-size: 60px;
  color: white;
}
.boxfooter{
  display: flex;
  justify-content: center;
  gap: 20%;
}

.boxfooter a h6{
  padding: 10px;
}
footer{
  padding: 30px;
}
footer h4{
  color: white;
}